---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$base-font-size:   16px !default;
$content-width:    850px !default;

@import "minima";

.site-header {
	border-top: None;
}


img {
  display:block;
  margin:auto;
}

.post {
  display: block;
  clear: both;
  padding-bottom: 30px;
}

.post-title {
  @include relative-font-size(2);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2);
  }
}

.post-image {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}


.post-description {
  display: inline-block;
  width: 49%;
  padding-left: 10px;
}
.post-image {
  width: 49%;
  display: inline-block;
}

@include media-query($on-laptop) {
  .post-description {
    display: inline-block;
    width: 100%;
    padding-left: 10px;
  }
  .post-image {
    width: 100%;
  }
}


.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.5);

    @include media-query($on-laptop) {
      @include relative-font-size(1.5);
    }
  }

  h3 {
    @include relative-font-size(1.3);

    @include media-query($on-laptop) {
      @include relative-font-size(1.3);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.post-link {
  display: block;
  @include relative-font-size(1.25);
}

.post-author-tile {
  display: inline-block;
  padding: 10px;
  text-align: center;
}

.post-author-img {
  height: 100px;
  clip-path: circle(50px at center);
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &:visited {
  	color:black;
  }
  &:hover {
  	color:$brand-color;
  }
}
