---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {% if page.external_url %}
    <meta http-equiv="refresh" content="0;url={{ page.external_url }}">
  {% endif %}

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.authors -%}
        <p>Authors:</p>
        {% for author_id in page.authors %}
          {% assign author = site.data.authors[author_id] %}
          {%- if author -%}
            <div class="post-author-tile">
              {%- if author.img -%}
                <img class="post-author-img" src="{{ author.img }}" />
              {%- endif -%}
              {%- if author.link -%}
                <a href={{ author.link }} target="_blank">{{ author.name }}</a>
              {%- else -%}
                <span>{{ author.name }}</span>
              {%- endif -%}
            </div>
          {%- else -%}
            <div style="color:red">Author ID "{{ author_id }}" not found in _data/authors.yml</div>
          {%- endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
